<header>
    <div class="brand">
        <h3>
            <span>A</span>
            <span>r</span>
            <span>m</span>
            <span>a</span>
            <span>n</span>
            <span>d</span>
            <span> </span>
            <span>C</span>
            <span>o</span>
            <span>d</span>
            <span>e</span>
            <span>r</span>
            <span>a</span>
        </h3>
    </div>
    <div class=""></div>
</header>