<nav class="nav-app">
    <div class="content">
        <div class="item"> Intro </div>
        <div class="item"> Experience </div>
        <div class="item"> Projects </div>
        <div class="item"> Contact </div>
    </div>
</nav>