:root {
  --primary-color: #EFEFF1;
  --secondary-color: #ffffff8e;
  --tertiary-color: #1F1F23;
  --accent-color: #FFFFFF;
  --accent-color-2: #505A5B;
  --bg: #0E0E10;
  --fg: #e3e3e3;


  --primary-font: 'Lucida Console', 'Courier New', monospace;
  --secondary-font: 'Courier New', monospace;
  --fade-amount: 40%;
}

html {
  color-scheme: light dark;
  --background: light-dark(var(--primary-color), var(--tertiary-color));
  --text: light-dark(var(--tertiary-color), var(--primary-color));
}

#theme-toggle {
  height: 50px;
  width: 50px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: transparent !important;
}

#theme-switch img:last-child {
  display: none;
}

#theme-switch svg {
  fill: var(--primary-color);
}

#theme-switch svg:last-child {
  display: none;
}

.darkmode #theme-switch svg:first-child {
  display: none;
}

.darkmode #theme-switch svg:last-child {
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  position: relative;
  background-color: light dark(var(--primary-color), var(--tertiary-color));
}


.content {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  gap: 1em;
  overflow: visible;

  grid-template-areas:
    "exp desc desc"
    "exp pic soc"
    "exp box soc";

  @media (max-width: 650px) {
    grid-template-columns: repeat(2, clamp(140px, 30vw, 280px));
    grid-template-rows: repeat(6, clamp(140px, 30vw, 280px));
    grid-template-areas:
      "exp exp"
      "exp exp"
      "exp exp"
      "desc desc"
      "pic box"
      "soc soc";
  }

  @media (min-width: 651px) and (max-width:1200px) {
    grid-template-columns: repeat(3, clamp(200px, 200px, 300px));
    grid-template-rows: repeat(3, 200px);

    grid-template-areas:
      "exp desc desc"
      "exp pic soc"
      "exp box soc";

  }
}

/* Individual Cards */

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0turn;
  inherits: false;
}

.layer {
  background-color: light dark(var(--primary-color), var(--tertiary-color));
  border: 2px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: var(--primary-font);
  border-radius: 20px;
}

.layer:hover,
.layer:focus {
  z-index: 10;
  transform: scale(105%);
  transition: transform .2s;

  animation: 2s gradient-angle infinite linear;
  border: 2px solid transparent;
  background-image: linear-gradient(light-dark(var(--primary-color), var(--tertiary-color)), light dark(var(--fg), var(--bg)),
      #FFFFFF 0%,
      #505A5B 37%,
      #ACADBC 30%,
      #505A5B 33%,
      #FFFFFF 40%,
      #FFFFFF 50%,
      #505A5B 77%,
      #ACADBC 80%,
      #505A5B 83%,
      #FFFFFF 90%);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

@keyframes gradient-angle {
  to {
    --gradient-angle: 1turn;
  }
}

/* Experience Box */
.vl {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  height: 5%;
  padding: 0 !important;
}

.exp {
  grid-area: exp;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.exp>div {
  padding: 1em;
}


/* Socials Box */

.soc {
  flex-flow: column nowrap;
  justify-content: space-evenly;

  @media (max-width: 650px) {
    flex-flow: row wrap;
  }
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

.socials {
  cursor: pointer;
  height: 45px;
  width: auto;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-origin: bottom;
  position: relative;

  & path {
    fill: light dark(var(--primary-color), var(--tertiary-color));
  }
}

.socials:hover {
  -webkit-transform: scale3d(1.2, 1.2, 1.2);
  transform: scale3d(5);
}

.tooltip {
  position: relative;

  align-items: center;
  justify-content: center;
  text-align: center;
}

.tooltip::before,
.tooltip::after {
  --scale: 0;
  position: absolute;
  left: 3rem;
  top: -1.2rem;
  border-radius: 15px;
  padding: 0.4rem;
  transform: translateX(-50%) translateY(-80%) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: bottom;
}

.tooltip::before {
  content: attr(data-tooltip);
  color: var(--bg);
  font-size: 0.8em;
  /* font-family: var(--primary-font); */
  text-align: center;
  width: 100%;
  max-width: max-content;
  background: var(--primary-color);
}

.tooltip:hover::before {
  width: max-content;
  --scale: 1;
}

#theme-toggle {
  height: 50px;
  width: 50px;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Pictures Box */

.pic-container {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 80%;
  border-radius: 50%;
  /* -webkit-mask-image: radial-gradient(circle, black 65%, black 10%, transparent 70%, transparent 85%); */
  transition: transform 1s;
}

.pic-container:hover {
  transform: rotateY(180deg);
  transition: transform 1s;
}

.photo {
  height: clamp(50px, 70%, 100px);
  color: red;
}

/* Desc Box */

.desc>p {
  font-size: 14px;
  font-family: var(--primary-font);
  text-align: justify;
  margin: 1em;
}

/* Box Box? */
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  bottom: 5px;
  position: absolute;
  bottom: 5px;
}