:root {
  --primary-color: #DFAA33;
  --secondary-color: #EFEFF1;
  --tertiary-color: #1F1F23;
  --bg: #0E0E10;
  --fg: #e3e3e3;
  --fade-amount: 40%;

  --primariy-font: 'Lucida Console', 'Courier New', monospace;
  --secondary-font: 'Courier New', monospace;

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  position: relative;
}

.content {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  gap: 1em;

  grid-template-areas:
    "exp soc soc"
    "exp pic desc"
    "exp box desc";

  @media (max-width: 650px) {
    grid-template-columns: repeat(2, clamp(140px, 40vw, 280px));
    grid-template-rows: repeat(5, clamp(140px, 40vw, 280px));
    grid-template-areas:
      "exp exp"
      "exp exp"
      "exp exp"
      "soc soc"
      "pic box"
      "desc desc";
  }

  @media (min-width: 651px) and (max-width:1200px) {
    grid-template-columns: repeat(3, clamp(200px, 200px, 300px));
    grid-template-rows: repeat(3, 200px);

    grid-template-areas:
      "exp soc soc"
      "exp pic desc"
      "exp box desc";

  }
}

/* Individual Cards */

.layer {
  background-color: rgb(42, 43, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: var(--primariy-font);
}

/* Experience Box */
.vl {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  height: 5%;
}

.exp {
  grid-area: exp;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.exp>h1 {}


/* Socials Box */

.soc {
  justify-content: space-evenly;
}

.socials {
  height: 50px;
  width: auto;
}

/* Pictures Box */

.pic-container {
  background-color: rgb(251, 246, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 80%;
  border-radius: 50%;
  /* -webkit-mask-image: radial-gradient(circle, black 65%, black 10%, transparent 70%, transparent 85%); */
}

.photo {
  height: clamp(50px, 70%, 100px);
  color: red;
}

/* Desc Box */

.desc {}

.desc>p {
  font-size: 1em;
  font-family: var(--primary-font);
  text-align: justify;
  margin: 1em;
  font-size: 0.8em;
}

/* Box Box? */
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  bottom: 5px;
  position: absolute;
  bottom: 5px;
}